h2 {
  color: green;
  font-style: italic;
}
li {
  font-style: italic;
  color: grey;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 15px;
}
.error {
  padding-top: 50px;
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
